##############################
## Build
##############################

bin/
obj/

##############################
## Visual Studio
##############################

.vs/
*.user
*.suo
*.userosscache

##############################
## Rider
##############################

.idea/

##############################
## VS Code
##############################

.vscode/

##############################
## Logs
##############################

logs/
*.log

##############################
## Test Results
##############################

TestResults/
coverage/

##############################
## NuGet
##############################

packages/
*.nupkg

##############################
## EF Core
##############################

*.db
*.db-shm
*.db-wal

##############################
## Publish
##############################

publish/

##############################
## Docker
##############################

docker-compose.override.yml

##############################
## OS
##############################

Thumbs.db
Desktop.ini
.DS_Store